aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.3
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.5.7
cffi 
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
cryptography 
dnspython
eventlet 
frozenlist==1.3.3
greenlet
idna 
Markdown 
multidict==6.0.4
openai==0.27.7
pefile==2023.2.7
pycparser 
pyinstaller==5.12.0
pyinstaller-hooks-contrib==2023.3
pyOpenSSL 
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqt5-tools==5.15.9.3.3
python-dotenv==1.0.0
pywin32-ctypes==0.2.0
PyYAML==6.0
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
requests==2.31.0
six 
tqdm==4.65.0
urllib3==2.0.2
yarl==1.9.2
